/* *{
  border:1px solid blue;

} */

.App {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
}

.IconSearch {
  width: 100%;
  height: 50px;
  display: flex;
}

.IconSearch input {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  border: 2px solid #c01823;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.IconSearch input:focus {
  outline: none;
}

.IconSearch button {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #c01823;
  font-size: 20px;
  background-color: #c01823;
  color: white;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.IconsGrid {
  display: flex;
  flex-wrap:wrap;
  margin-top: 40px;
}

.IconsGrid div {
  margin-right: 30px;
  margin-bottom:30px;
  text-align: center;
}
